<div class="container">
    <div class="row">
        <div class="col mt-5">
                <h1 class="text-center">Últimos lanzamientos en España</h1>
        </div>
    </div>
    <app-loading *ngIf="cargando"></app-loading>
    <div class="row">
        <div class="col mt-5">
            <div class="card-columns">
                <div *ngFor="let cancion of ultimosLanzamientoESP" class="card text-white bg-dark " style="width: 18rem;">
                    <img [src]="cancion.images | noimage" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ cancion.name }}</h5>
                        <span *ngFor="let artista of cancion.artists" class="badge badge-pill badge-success">{{ artista.name }}</span>
                        <a target="_blank" class="btn btn-primary btn-block mt-2" [href]="cancion.external_urls.spotify" role="button">Reproducir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
