<div class="container">
    <div class="row">
        <div class="col mt-5">
                <h1 class="text-center">Últimos lanzamientos en España</h1>
        </div>
    </div>
    <div class="row">
        <div class="col mt-5">
            <div class="card-columns">
                <div *ngFor="let cancion of ultimosLanzamientoESP" class="card text-white bg-dark " style="width: 18rem;">
                    <img [src]="cancion.images[0].url" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ cancion.name }}</h5>
                        <span *ngFor="let artista of cancion.artists" class="badge badge-pill badge-success">{{ artista.name }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
